<!doctype html>
<html>

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="jquery.min.js"></script>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block heading %}{% endblock %}
        </div>
    </div>

    <div class="container" id="form_container">
        <form id="theForm" action="{{ form_url }}" method="GET" onsubmit="return preventRepeatedSubmission();">

            <div class="form-group">
                <label for="name">姓名或昵称：</label>
                <input class="form-control" type="text" inputmode="text" placeholder="your name" name="name" required>
            </div>
            <div class="form-group">
                <label for="mail">邮箱：</label>
                <input class="form-control" type="text" inputmode="email" placeholder="account@example.com" name="mail">
            </div>
            <div class="form-group">
                <label for="musiclevel">您的音乐学习水平：（专业/业余/完全不）</label>
                <ul>
                    <li>
                        <input class="form-check-input" type="radio" name="musiclevel" value="profession" required>   
                        <span>专业学习者</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="musiclevel" value="amateur" required>   
                        <span>业余学习者</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="musiclevel" value="newhand" required>   
                        <span>完全没学过</span>
                    </li>
                 </ul>
            </div>         

            {% block form_questions1 %}{% endblock %}
            {% block form_questions2 %}{% endblock %}
            {% block form_questions3 %}{% endblock %}
            <input type="text" name="formid" value="{{ form_id }}" hidden>
            <input type="text" name="thank" value="再次感谢您参加本次音乐测试实验！" hidden>
            <input class="btn btn-info btn-lg" type="submit" value="提交全部" id="submitBtn">
        </form>
    </div>

    <div class="container" style="padding-top: 60px;">
        <p class="text-center text-muted">&copy; Nankai HLT</p>
    </div>

    <script type="text/javascript">
        function preventRepeatedSubmission() {
            document.getElementById('submitBtn').disabled = true;
            setTimeout("submitBtn.disabled=false;", 5000);
            return true;
        };
    </script>
</body>

</html>
