{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">音乐生成结果评估实验</h1>
    <p class="lead">Evaluate the quality of music synthesis</p>
    <hr class="my-4">
    <p>
        感谢您参加本次实验
    </p>
    <p>
        本毕设使用深度学习模型合成了一些音乐，你需要从旋律、和弦、节奏三个角度对听到的音频进行打分
        <ul>
            <li>1（非常不好)</li>
            <li>2（比较不好)</li>
            <li>3（一般)</li>
            <li>4（比较好)</li>
            <li>5（非常好)</li>
        </ul>
        请注意，每个问题中出现的音乐可能随机
    </p>
{% endblock %}
{% block form_questions %}
    {% for question in questions %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                <b>Transcript: </b>{{question.text}}
            </div>
            {% for audio_path in question.audio_paths%}
                <div class="card-body">
                    <span>
                        <audio controls src="{{ audio_path }}">
                            Your browser does not support the audio element.
                        </audio>
                    </span>
                </div>
            {% endfor %}
            {% set name = question.name %}
            <div class="form-check">
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_9" value="5" required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_9" value="4" required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_9" value="3" required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_8" value="2" required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_7" value="1" required>   
                        <span>1</span>
                    </li>

                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
