{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">音乐生成结果评估实验</h1>
    <p class="lead">Evaluate the quality of music synthesis</p>
    <hr class="my-4">
    <p>
        感谢您参加本次实验
    </p>
    <p>
        本毕设使用深度学习模型合成了一些音乐，你需要从旋律、和弦、节奏三个角度对听到的音频进行打分
        <ul>
            <li>1（非常不好)</li>
            <li>2（比较不好)</li>
            <li>3（一般)</li>
            <li>4（比较好)</li>
            <li>5（非常好)</li>
        </ul>
    </p>
{% endblock %}

{% block form_questions1 %}
    <h3>图灵测试：你认为这段音频是人类创作还是机器创作？</h3>
    {% for question in questions1 %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                <span>
                    {% set audio_path=question.audio_paths %}
                    <audio controls src="{{ audio_path[0] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            {% set name = question.name %}
            <div class="form-check">
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_human" value="human" required>   
                        <span>人类创作</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_ai" value="ai" required>   
                        <span>AI生成</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block form_questions2 %}
    <h3>单个音频样本打分，请从旋律、节奏、和弦三方面进行打分</h3>
    {% for question in questions2 %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                <span>
                    {% set audio_path=question.audio_paths %}
                    <audio controls src="{{ audio_path[0] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            {% set name = question.name %}
            <div class="form-check">
                <p>旋律</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_melody_5" value="melody5" required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_melody_4" value="melody4" required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_melody_3" value="melody3" required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_melody_2" value="melody2" required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_melody_1" value="melody1" required>   
                        <span>1</span>
                    </li>

                </ul>
            </div>

            <div class="form-check">
                <p>节奏</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_rhythums_5" value="rhythums5" required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_rhythums_4" value="rhythums4" required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_rhythums_3" value="rhythums3" required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_rhythums_2" value="rhythums2" required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_rhythums_1" value="rhythums1" required>   
                        <span>1</span>
                    </li>

                </ul>
            </div>

            <div class="form-check">
                <p>和弦</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_chord_5" value="chord5" required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_chord_4" value="chord4" required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_chord_3" value="chord3" required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_chord_2" value="chord2" required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_chord_1" value="chord1" required>   
                        <span>1</span>
                    </li>

                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block form_questions3 %}
    <h3>两段音频对比打分，A/B测试,哪一个更好？</h3>
    {% for question in questions3 %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                {% set audio_path=question.audio_paths %}
                <span>
                    <audio controls src="{{ audio_path[0] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
                <span>
                    <audio controls src="{{ audio_path[1] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            {% set name = question.name %}
            <div class="form-check">
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_first" value="first" required>   
                        <span>第一个</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_second" value="second" required>   
                        <span>第二个</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
