{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">音乐生成结果评估实验</h1>
    <p class="lead">Evaluate the quality of music synthesis</p>
    <hr class="my-4">
    <p>
        感谢您参加本次实验，您的评分将作为音乐生成结果质量评估的重要依据。
    </p>
    <p>
        该实验使用深度学习模型合成了一些音乐，请在安静环境下佩戴耳机用谷歌浏览器完成以下问题。
    </p>
    <p>
        <b>第一部分：</b>共4个问题，你需要听两个音频，判断其为人类创作还是由模型合成
    </p>
    <p>
        <b>第二部分：</b>共4个问题，你需要听一个音频，从<b>旋律、和弦、节奏、创新性</b>四个角度，对听到的音频进行打分，评分标准如下
        <ul>
            <li>1（非常不好)</li>
            <li>2（比较不好)</li>
            <li>3（一般)</li>
            <li>4（比较好)</li>
            <li>5（非常好)</li>
        </ul>
    </p>
    <p>
        <b>第三部分：</b>共4个问题，你需要听两个音频，比较哪一个音频听上去更和谐
    </p>
    <p>
        请注意！所有音频文件均使用音乐制谱软件输出，并非人类演奏，因此您需<b>忽略音色情况</b>。
        有些旋律可能听起来并不愉快，请注意您的音量：）
    </p>
{% endblock %}

{% block form_questions1 %}
    <h3>这段音频是人类创作还是由AI合成？</h3>
    {% for question in questions1 %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                <span>
                    {% set audio_path=question.audio_paths %}
                    <audio controls src="{{ audio_path[0] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            {% set name = question.name %}
            <div class="form-check">
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_human" value="human" required >   
                        <span>人类创作  </span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_ai" value="ai"  required>   
                        <span>  AI合成</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block form_questions2 %}
    <h3>请分别从旋律、节奏、和弦、创新性四个角度进行打分</h3>
    {% for question in questions2 %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                <span>
                    {% set audio_path=question.audio_paths %}
                    <audio controls src="{{ audio_path[0] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            {% set name = question.name %}
            <div class="form-check">
                <p>旋律是否具有音乐性</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_m" id="{{name}}_melody_5" value="5" required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_m" id="{{name}}_melody_4" value="4"  required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_m" id="{{name}}_melody_3" value="3"  required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_m" id="{{name}}_melody_2" value="2"  required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_m" id="{{name}}_melody_1" value="1"  required>   
                        <span>1</span>
                    </li>

                </ul>
            </div>

            <div class="form-check">
                <p>节奏是否清晰</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_r" id="{{name}}_rhythums_5" value="5"  required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_r" id="{{name}}_rhythums_4" value="4" required >   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_r" id="{{name}}_rhythums_3" value="3"  required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_r" id="{{name}}_rhythums_2" value="2"  required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_r" id="{{name}}_rhythums_1" value="1"  required>   
                        <span>1</span>
                    </li>

                </ul>
            </div>

            <div class="form-check">
                <p>和弦是否和谐</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_c" id="{{name}}_chord_5" value="5"  required>   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_c" id="{{name}}_chord_4" value="4"  required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_c" id="{{name}}_chord_3" value="3"  required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_c" id="{{name}}_chord_2" value="2"  required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_c" id="{{name}}_chord_1" value="1" required >   
                        <span>1</span>
                    </li>

                </ul>
            </div>

            <div class="form-check">
                <p>是否具有创新性</p>
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_i" id="{{name}}_innovation_5" value="5" required >   
                        <span>5</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_i" id="{{name}}_innovation_4" value="4"  required>   
                        <span>4</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_i" id="{{name}}_innovation_3" value="3"  required>   
                        <span>3</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_i" id="{{name}}_innovation_2" value="2"  required> 
                        <span>2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}_i" id="{{name}}_innovation_1" value="1" required >   
                        <span>1</span>
                    </li>

                </ul>
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block form_questions3 %}
    <h3>比较两段音频，选出听上去更和谐的一个</h3>
    {% for question in questions3 %}
        <div class="card form-group" id="{{question.name}}">
            <div class="card-header" >{{ question.title }}</div>
            <div class="card-body">
                {% set audio_path=question.audio_paths %}
                <span>
                    <audio controls src="{{ audio_path[0] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
                <span>
                    <audio controls src="{{ audio_path[1] }}">
                        Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            {% set name = question.name %}
            <div class="form-check">
                <ul id="score">
                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_first" value="first"  required>   
                        <span>第一个</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_second" value="second" required >   
                        <span>第二个</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
